#container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	overflow: hidden;
}
/* utility class*/
h2{
	padding: 1rem;
	color: black;
}
h4{
	padding: 0.8rem;
	color:white ;
}
.main-heading{
	background: #99ddff;
}
.sub-heading{
   background: blue;
}
.form-wrap{
	margin-top: -20px;
	padding-left: 2rem;
	border: 1px solid blue;
	padding-bottom: 2rem;
	padding-top: 20px;
}
.form-group{
	display: flex;
	flex-wrap: wrap;
	padding:0.5rem;
}
label{
	padding: 0.3rem;
	width: 140px;

}
input{
	flex:7;
	padding: 0.5rem;
	margin-right: 1rem;
}
textarea{
	flex: 7;
	margin-right: 1rem;
}
button{
	margin-top: 0.7rem;
	margin-left: 150px;
	padding: 0.5rem;
	font-size: 14px;
}
#content-table{
	margin: 25px 0;
	font-size: 1rem;
	min-width: 480px;
}

#content-table thead tr{
	background: blue;
	color: white;
	text-align: center;
	font-weight: bold;
}
#content-table thead tr th{
	padding: 0.75rem;
}
tbody tr{
	border-bottom: 1px solid black;
}
tbody tr td{
	padding: 0.75rem;
}
.wpac-btn{
	display: inline-block;
	width: 40%;
	padding: 20px;
	font-size: 20px;
	margin: 0 5px;
	border: 1px solid #cccccc;
	background: #f8f8f8;
	text-align: center;
	text-transform: uppercase;
	color: #444444;
	transition: 0.5s;
}
.wpac-btn:hover{
	text-decoration: none;
	color: inherit;
}
.wpac-like-btn:hover{
	background: #2d8f58;
	color: #fff;
}
.wpac-dislike-btn:hover{
	background: red;
	color: #fff;
}
